<!DOCTYPE html>
<html lang="en">
<%- include('v1-header') -%>

  <body>
    <%- include('v1-navbar') -%>
      <div class="container">
        <div class="d-flex flex-wrap">
          <% players.forEach(function(players){ %>
            <div class="m-2 p-2 bd-highlight">
              <div class="card" style="width: 18rem;">
                <img src="<%= players.imgUrl %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= players.name %>
                  </h5>
                  <p class="card-text">
                    <%= players.fullname %>
                  </p>
                  <a href="/v1/web/edit/<%= players.id %>" class="btn btn-primary">EDIT</a>
                  <a href="/v1/web/del/<%= players.id %>" class="btn btn-danger">DELET</a>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
  </body>

</html>